@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Open+Sans&family=Poppins:wght@200;400;500;600;700;800&family=Roboto+Mono&family=Roboto:wght@100;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
    list-style-type: none;
}
body{
    min-height: 1000px;
}
p{
    font-weight: 500;
    color: #111;
}


/* header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
}
header.sticky{
    background: #fff;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
}
header .logo{
    font-size: 2em;
    font-weight: 700;
}
    
header .logo a{
    text-decoration: none;
    color: #fff;
}
header.sticky .logo a{
    color: #111;
}
header .logo a span{
    color: #ff0157;
}
header .navigation{
    display: flex;
    position: relative;
}
header .navigation li{
    list-style-type: none;
    margin-left: 30px;
}
header .navigation li a{
    text-decoration: none;
    color: #fff;
}
header.sticky .navigation li a{
    color: #111;
    font-weight: 400;
}
header .navigation li a:hover{
    color: #ff0157;
}

/* MAIN SECTION */
.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(img/bg2.jpg);
    background-size: cover;
}
.banner .content{
    max-width: 900px;
    text-align: center;
}
.banner .content h2{
    font-size: 5em;
    color: #fff;
}
.banner .content p{
    color: #fff;
    font-size: 1em;
}
.btn{
    font-size: 1em;
    color: #fff;
    background: #ff0157;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    outline: none;
    letter-spacing: 2px;
    transition: 0.5s;
}
.btn:hover{
    letter-spacing: 6px;
}